.card-info {
  display: flex;
  gap: 5px;
  justify-content: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: var(--cardBgColor);
  border: 1px solid var(--borderColor);
}

.card-info__item {
  font-size: 12px;
  color: var(--secondaryTextColor);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;

  b {
    color: var(--mainTextColor);
  }
}
