header {
  width: 100vw;
  position: fixed;
  z-index: 1;
  background-color: var(--mainAccentColor);
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-color: var(--mainBgColor);
  padding: 120px 0 20px;
  flex-grow: 1;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 20px;
  background-color: var(--mainAccentColor);
}

.copyright {
  font-size: 14px;
  color: var(--onAccentTextColor);
}

.container {
  padding: 0 20px;
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
}
