:root {
  --mainBgColor: #d9e4f0;
  --cardBgColor: #f9f9f9;
  --borderColor: #ddd;
  --mainTextColor: #333333;
  --secondaryTextColor: #555555;
  --thirdlyTextColor: #777777;
  --mainAccentColor: rgb(75, 60, 187);
  --accentHoverColor: rgb(90, 75, 202);
  --onAccentTextColor: #ffffff;
}
